* {
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}

body {
  background-color: #e7e7e7;
}

button,
input[type='text'] {
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

button:hover:disabled {
  cursor: default;
}

.container {
  max-width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.container h2 {
  text-align: center;
  font-size: 22px;
}
a {
  color: blue;
  text-decoration: none;
}
h4 {
  text-align: center;
  font-size: 20px;
}

ul {
  padding-left: 0px;
  list-style: none;
}

h3 {
  text-align: center;
  font-size: 24px;
  text-decoration: underline;
}

#aboutme {
  font-size: 20px;
}

#header ul {
  list-style: none;

  margin-top: 50px;
  text-align: center;
}
#header li {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  color: black;
}

i {
  color: black;
}

#project-list li {
  padding: 5px;
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
}

.button-list {
  margin-top: 10px;
}

img {
  width: 100%;
}

button a {
  text-decoration: none;
  color: inherit;
}

h4 {
  font-weight: bold;
}

iframe {
  width: 100%;
  height: 500px;
}

button {
  background-color: #555555; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

@media screen and (max-width: 600px) {
  .container {
    max-width: 95%;
  }

  .container {
    margin-top: 20px;
  }

  .container h2 {
    font-size: 14px;
  }
  p {
    font-size: 12px;
  }
  iframe {
    width: 100%;
    height: 200px;
  }
}
